@model HomeModel
@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo!</h1>
    <p>Sitema de Gestão de Hotéis licenciado para: @Model.Nome - CNPJ: @Model.CNPJ</p>
</div>